body{
    margin:0;
    font-family: 'Barlow', serif;
    font-size: 18px;
}

header {
    height: 800px;
    background-image: url("/images/desktop/image-header.jpg");
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2em 4em;
    color:white;
}

#menu{
    display: flex;
    align-items: center;
}

ul li{
    list-style-type: none;
    margin: 0 2em;
}

#contact {
    margin: 2em;
    background-color: #FFFFFF;
    color: #24303E;
    padding: .5em 1em;
    border-radius: 1em;
    font-weight: 600;
    font-size:15px;
    font-family: "Fraunces";
    text-transform: uppercase;
}

h1 {
    font-family: "Fraunces";
    text-transform: uppercase;
    font-size: 56px;;
}

h3 {
    font-family:"Fraunces";
    font-size:40px;}

.clickable{
    text-transform: uppercase;
    font-size:15px;

}

footer ul{
    display: flex;
}