body {
  margin: 0;
  font-family: "Barlow", serif;
  font-size: 18px;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2em 2em;
  color: white;
  align-items: center;
  position:absolute;
  top:0px;
  width:100%;
}

#background-img{
  min-height: 60vh;
  width: 100vw;
  background-image:url("../images/icon-arrow-down.svg"), url("../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size:3vw, 100vw;
  background-position-x:50%;
  background-position-y:30vh, 100%;
  z-index: -1;
  background-color: #3EBFFF;
}

#creatives {
  text-align: center;
  color: white;
  padding-top:4rem;
  letter-spacing: 10px;
  position: absolute;
  top:15vh;
  width:100%;
}

#menu {
  display: flex;
  align-items: center;
  padding-right: 2em;
}

ul li {
  list-style-type: none;
  margin: 0 1.5em;
}

#contact {
  margin: 0em 2em;
  background-color: #ffffff;
  color: #24303e;
  padding: 0.9em 1em;
  border-radius: 2em;
  font-weight: 600;
  font-size: 15px;
  font-family: "Fraunces";
  text-transform: uppercase;
  box-shadow: 2px 3px #185caa;
}

h1 {
  font-family: "Fraunces";
  text-transform: uppercase;
  font-size: 56px;
  margin:0;
}

h3 {
  font-family: "Fraunces";
  font-size: 40px;
  font-weight: 900;
}

h6{
  font-size:20px;
  font-family:"Fraunces 9pt Soft";
  font-weight: 900;
}

p{
    font-weight:600;}

.clickable {
  font-size: 15px;
  font-weight: 900;
  z-index: 1;
  font-family:"Fraunces";
}
.two-columns {
  display: flex;
  height:600px;
  width:100vw;
}

.first-half{
    width:50vw;
    padding: 8% 6% 6% 8%;
}


.pictures {
  height:600px;
  width:50vw;
  margin:0px;
  object-fit: fill;
}

.half-text {
  width: 60%;
  margin: auto;
  height:600px;
}


#cherries {
  background-image: url("../images/desktop/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color:#24554A;
  margin-bottom: 0px;
  width:50vw;
  height:auto;
}

#orange {
  background-image: url("../images/desktop/image-photography.jpg");
  background-size: cover;
  background-repeat: none;
  color:#19536C;
  margin-bottom: 0px;
  width:50vw;
  height:auto;
}

.grey {
  color: #808397;
  font-weight: 400;
}

.text-on-images {
  width: 60%;
  height:600px;
  margin:auto;
  text-align: center;
  padding-top:45%;
}

.subtitles {
  font-size: 28px;
  font-family: "Fraunces";
}

#yellow-line {
  background-color: #fad400;
  height: 10px;
  width: 6rem;
  border-radius: 28px;
  z-index: -1;
  transform: translateY(-22px);
  position: absolute;
}

#red-line {
  background-color: #fe7766;
  height: 10px;
  width: 6rem;
  border-radius: 28px;
  z-index: -1;
  transform: translateY(-22px);
  position: absolute;
}

#clients {
  max-width: 80%;
  text-align: center;
  margin:160px auto;
}

#three-columns {
  display: flex;
}

.one-third {
  max-width: 30%;
  margin: auto 15px;
}

.names{
  font-family: "'Fraunces 9pt Soft'";
}

.roles{
  color: #A7AAAD;
  font-size:14px;
}



.portraits{
  height:72px;
  width:auto;
  border-radius: 36px;
}

#testimonial-title{
  text-transform:uppercase;
  color:#A7AAAD;
  letter-spacing: 3px;
}

.testimonial-text{
  color: #5B636D;
  margin: 2em 1em;
}

#footer-images{
  display: flex;
}

.footer-img{
  width:25vw;
  height:auto;
}

#footer-green{
  background-color: #90D4C6;
  color: #2C7566;
  height:350px;
  width:100vw;
}


footer ul {
  display: flex;
  margin: 2em auto;
  justify-content: center;
}

#logo-bottom{
  display: flex;
  margin:auto;
  padding-top:80px;
  justify-content: center;
}

.social-icons{
  height:20px;
  margin-top:2em;
}