body {
  margin: 0;
  font-family: "Barlow", serif;
  font-size: 18px;
  align-items: center;
  overflow-x:hidden;
  max-width: 100vw;
}

h1 {
  font-family: "Fraunces";
  text-transform: uppercase;
  font-size: 56px;
  margin: 0;
}

h3 {
  font-family: "Fraunces";
  font-size: 40px;
  font-weight: 900;
}

h6 {
  font-size: 20px;
  font-family: "Fraunces 9pt Soft";
  font-weight: 900;
}

p {
  font-weight: 600;
}

nav {
  display: flex;
  justify-content:space-between;
  padding-top: 2em;
  padding-left:2em;
  color: white;
  align-items: center;
  position: absolute;
  top: 0px;
  width: 90%;
}

#background-img {
  min-height: 800px;
  width: 100vw;
  background-image: url("../images/icon-arrow-down.svg"),
    url("../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: 3vw, 100vw;
  background-position-x: 50%;
  background-position-y: 30vh, 100%;
  z-index: -1;
  background-color: #3ebfff;
}

.description{
  font-size: 16px;;
}

#creatives {
  text-align: center;
  color: white;
  padding-top: 4rem;
  letter-spacing: 10px;
  position: absolute;
  top: 15vh;
  width: 100%;
}

#menu {
  display: flex;
  align-items: center;
  text-align: right;
}

#menu li {
  list-style-type: none;
  margin: 0 1.5em;
}

#hide-desktop{
  display:none;
}

#contact {
  margin: 0em 2em;
  background-color: #ffffff;
  color: #24303e;
  padding: 0.9em 1em;
  border-radius: 2em;
  font-weight: 600;
  font-size: 15px;
  font-family: "Fraunces";
  text-transform: uppercase;
  box-shadow: 2px 3px #185caa;
}

#contact:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px;
  cursor: pointer;
}

#hamburger {
  display: none;
}

#logo {
  width: 10rem;
}

.clickable {
  font-size: 15px;
  font-weight: 900;
  z-index: 1;
  font-family: "Fraunces";
}

.clickable:hover {
  cursor: pointer;
}

.two-columns {
  display: flex;
  height: 600px;
  width: 100vw;
}

.first-half {
  width: 50vw;
  padding: 8% 6% 6% 8%;
}

.pictures {
  height: 600px;
  width: 50vw;
  margin: 0px;
  object-fit: cover;
}

.half-text {
  width: 60%;
  margin: auto;
  height: 600px;
}

#cherries {
  background-image: url("../images/desktop/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #24554a;
  margin-bottom: 0px;
  width: 50vw;
  height: auto;
}

#orange {
  background-image: url("../images/desktop/image-photography.jpg");
  background-size: cover;
  background-repeat: none;
  color: #19536c;
  margin-bottom: 0px;
  width: 50vw;
  height: auto;
}

.grey {
  color: #808397;
  font-weight: 400;
}

.text-on-images {
  width: 60%;
  height: 600px;
  margin: auto;
  text-align: center;
  padding-top: 55%;
}

.subtitles {
  font-size: 28px;
  font-family: "Fraunces";
}

#yellow-line {
  background-color: rgb(250, 212, 0);
  height: 10px;
  width: 6rem;
  border-radius: 28px;
  z-index: -1;
  transform: translateY(-22px);
  position: absolute;
}

#red-line {
  background-color: rgb(254, 119, 102);
  height: 10px;
  width: 6rem;
  border-radius: 28px;
  z-index: -1;
  transform: translateY(-22px);
  position: absolute;
}

#clients {
  max-width: 80%;
  text-align: center;
  margin: 160px auto;
}

#three-columns {
  display: flex;
}

.one-third {
  max-width: 30%;
  margin: auto 15px;
}

.names {
  font-family: "'Fraunces 9pt Soft'";
}

.roles {
  color: #a7aaad;
  font-size: 14px;
}

.portraits {
  height: 72px;
  width: auto;
  border-radius: 36px;
}

#testimonial-title {
  text-transform: uppercase;
  color: #a7aaad;
  letter-spacing: 3px;
}

.testimonial-text {
  color: #5b636d;
  margin: 2em 1em;
}

#footer-images {
  display: flex;
}

.footer-img {
  width: 25vw;
  height: auto;
}

#footer-green {
  background-color: #90d4c6;
  color: #2c7566;
  height: 350px;
  width: 100vw;
}

#footer-green li:hover {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

footer ul {
  display: flex;
  margin: 2em auto;
  justify-content: center;
  list-style-type: none;
}

footer ul li {
  padding:0 1em;
}

#logo-bottom {
  display: flex;
  margin: auto;
  padding-top: 80px;
  justify-content: center;
}

.social-icons {
  height: 20px;
  margin-top: 2em;
}

.social-icons :hover {
  fill: white;
  cursor: pointer;
}

#menu-hide{
  display: none;
  flex-direction: column;
  justify-content: center;
  position:absolute;
  left:10vw;
  list-style: none;
  background-color: #FFFCF8;
  height:300px;
  width: 70vw;
  margin:auto;
  line-height: 2em;
  text-align: center;
  z-index: 1;
  top:10vh;
  font-size: 20px;
  font-weight: 800;
  line-height: 2.5em;
}

#contact-hidden{
  background-color: #FBD600;
  width: 140px;
  margin: 1rem auto;
  border-radius:20px;
  color:black;
}

/* --------- MOBILE --------- */

@media screen and (max-width: 600px) {
  body, html {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
   }

   #menu {
    display: none;
  }

  h1 {
    font-size: 40px;
  }

  #hamburger {
    display: block;
  }

  nav {
    color: #808397;
    max-width: 90vw;
    padding: 5vw 5vw;
  }

  #background-img {
    background-size: 8vw, 200vw;
    background-position-y: 30vh, 100%;
    min-height: 60vh;
    }

  #creatives {
    padding-top: 0rem;
    letter-spacing: 10px;
    position: absolute;
    width: 100vw;
  }

  .two-columns {
    display: block;
    height: auto;
    width: 100vw;
  }

  #glass{
    display: none;
  }

  .first-half {
    width: 100vw;
    padding: 0;
  }

  .pictures {
    height: auto;
    width: 100vw;
    margin: 0px;
    object-fit: fill;
  }

  .half-text {
    width: 70vw;
    text-align: center;
    margin: auto;
    padding-bottom: 4rem;
    height: auto;
  }

  #cherries {
    margin-bottom: 0px;
    width: 100vw;
    height: 600px;
    background-position-x: -0vw;
    background-position-y: 0vh;
  }

  #orange {
    margin-bottom: 0px;
    width: 100vw;
    height: 600px;
    background-position-x: -50vw;
    background-position-y: 0vh;
  }

  .text-on-images {
    width: 80vw;
    padding-top: 75%;
    height: 600px;
    margin: auto;
  }

  .one-third {
    max-width: 90vw;
    margin: auto 0px;
  }

  #clients {
    text-align: center;
    margin: 8vh auto;
  }

  #three-columns {
    display: block;
  }

  #testimonial-title {
    text-transform: uppercase;
    color: #a7aaad;
    letter-spacing: 3px;
  }

  .testimonial-text {
    color: #5b636d;
    margin: 2em auto;
  }

  #footer-images {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-img {
    height: auto;
    width: 50vw;
  }


  footer ul {
    width: 90vw;
    display: flex;
    margin: 2em auto;
    justify-content: center;
  }
  #yellow-line {
    left: 40%;
  }
  
  #red-line {
    left: 40%;
  }

  #hide-desktop{
    display: block;
  }
}
