body {
  margin: 0;
  font-family: "Barlow", serif;
  font-size: 18px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2em 4em;
  color: white;
}

#creatives {
  text-align: center;
  color: white;
  min-height: 80vh;
  background-image: url("/images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  letter-spacing: 9px;
}

#menu {
  display: flex;
  align-items: center;
}

ul li {
  list-style-type: none;
  margin: 0 2em;
}

#contact {
  margin: 2em;
  background-color: #ffffff;
  color: #24303e;
  padding: 0.5em 1em;
  border-radius: 1em;
  font-weight: 600;
  font-size: 15px;
  font-family: "Fraunces";
  text-transform: uppercase;
}

h1 {
  font-family: "Fraunces";
  text-transform: uppercase;
  font-size: 56px;
}

h3 {
  font-family: "Fraunces";
  font-size: 40px;
  font-weight: 900;
}

h6{
  font-size:20px;
  font-family:"Fraunces 9pt Soft";
  font-weight: 900;
}

p{
    font-weight:600;}

.clickable {
  font-size: 15px;
  font-weight: 900;
  z-index: 1;
  font-family:"Fraunces";
}
.two-columns {
  display: flex;
  flex-direction: row;
  margin:0;
}

.half-text {
  width: 60%;
  margin: auto;
  max-height:600px;
}

.first-half{
    width:50vw;
    max-height:600px;
}

.images-div{max-height:600px;}

.pictures {
  width:50vw;
  height:auto;
  margin:0;  
}

#cherries {
  background-image: url("/images/desktop/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color:#3E7467;
  margin-bottom: 0px;
  width:50vw;
  height:auto;
}

#orange {
  background-image: url("/images/desktop/image-photography.jpg");
  background-size: cover;
  background-repeat: none;
  color:#19536C;
  margin-bottom: 0px;
  width:50vw;
  height:auto;
}

.grey {
  color: #808397;
  font-weight: 400;
}

.text-on-images {
  width: 60%;
  margin:auto;
  text-align: center;
}

.subtitles {
  font-size: 28px;
  font-family: "Fraunces";
  margin-bottom: 0;
}

#yellow-line {
  background-color: #fad400;
  height: 10px;
  width: 6rem;
  border-radius: 28px;
  z-index: -1;
  transform: translateY(-22px);
  position: absolute;
}

#red-line {
  background-color: #fe7766;
  height: 10px;
  width: 6rem;
  border-radius: 28px;
  z-index: -1;
  transform: translateY(-22px);
  position: absolute;
}

#clients {
  max-width: 80%;
  margin: auto;
  text-align: center;
}

#three-columns {
  display: flex;
}

.one-third {
  max-width: 30%;
  margin: auto 15px;
}

#clients{
  margin:160px auto;
}


.names{
  font-family: "'Fraunces 9pt Soft'";
}

.roles{
  color: #A7AAAD;
  font-size:14px;
}

.portraits{
  height:72px;
  width:auto;
  border-radius: 36px;
}

.testimonial-text{
  color: #5B636D;
}

.footer-img{
  width:23vw;
  height:auto;
  margin:0px;
}


footer ul {
  display: flex;
  margin:140px auto;
}